<p id="notice"></p>
<div class="container">

  <div class="row">

    <!--<div>-->
    <!--  <p>ジャンル検索</p>-->
    <!--  <%# @genres.each do |genre| %>-->
    <!--    <%#= genre.name %>-->
    <!--  <%# end %>-->
    <!--</div>-->

    <div class="main-visual">
      <p class="main-visual-text">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
    </div>
  </div>

  <div class="row">
    <div>
      <h4><strong>新着商品</strong></h4>

      <div class="col d-flex align-items-center">
      <% @items.each do |item| %>
        <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image(200,150) %>
        <% end %>
        <%= item.name %>
        ¥<%= item.price.to_s(:delimited) %><br>

      <% end %>
      </div>


    </div>

    <div class="col-md-12 text-right">
      <%= link_to "全ての商品を見る>", items_path %>
    </div>

  </div>

